*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header style */

.header-hero{
    height: 100vh;
    width: 100%;
    background-image: url(images/banner/banner1.png);
    background-size: cover;
    background-position: center;

    }

.header-content{
      position: relative;
      top: 30%;
      right: 8%;
      text-align: right;
      
}
.header-title{
  font-size: 60px;
}
.header-description{
 font-size: 15px;
}
/* button style */
.button{
    background-color: rgb(219, 23, 23) ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; 

}

/* person section style */


.person{
    color: rgb(59, 87, 78);
    margin: 0 10px;
    display: flex;
    align-items: center;
    padding: 0 10px ;
    justify-content: space-around;
    background-image: -o-linear-gradient(black);
    
 
}
 ul{
    list-style: none;

 }
/* plansection */

.plan-hade{
    font-size: 40px;
    text-align: center;
    padding: 50px;
}

.plan{
    display: flex;
    text-align: center;
    justify-content:center ;
    margin: 10px 70px;
    gap: 130px;
    padding: 60px;

}
 .plan-title{
    
    font-size: 30px;
    color: rgb(31, 31, 32);
    
 }
 .plan-desc{
    font-size: 15px;
 }
 
/* liner gradient */


 .gradiant{
    margin: 120px;
    padding: 120px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    background-size: cover;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(7, 241, 65, 0.507)), 
    url(images/watch.png)

    
}
 .gradiant-title{
    font-size: 40px;
    text-align: center left;
    color: rgb(5, 5, 5);
 }

 /* footer style */
 .fotter{
    display: flex;
    
    justify-content: space-around ;
    background-color: rgb(0, 0, 0);
    padding: 150px 100px;
    padding-bottom: 40px;
    
    
 }
 .future-content{
    color: rgb(245, 242, 242);
 }
 .future-title{
    font-size: 40px;
 }
 .footer-subscribe{
    color: white;
    font-size: 20px;
 }
 .future-description{
    font-size: 12px;
 }
 input{
    border: 2px;
    margin-top: 14px;
    width: 100%;
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 5px;
 }
 .social-icon ,a {
    text-decoration: none;
 }